.buttonHolder {
    text-align: center;
}
.container {
    background: url(img/waterfall.jpg) center center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 450px;
}
.centerAbsolute {
  width: 285px;
  height: 500px;
  position: absolute;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
body {
    background-color: white;
}
html {
    padding: 0;
    margin: 0;
}
h1 {
    color: #C5C9C6;
    text-shadow: -1px 0 #0B7252, 0 1px #0B7252, 1px 0 #0B7252, 0 -1px #0B7252;
}
form {
    display: inline;
}